<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROUTEGUESSR - LEGENDARY LINES</title>
    <link href="{{ url_for('static', filename='styles/legendary_lines_base.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles/legendary_lines_level.css')}}" rel="stylesheet"/>
</head>
<body>
    <div class="gradient-layer"></div>
    <div class="particle-container" id="particleContainer"></div>
    <div class="background-layer"></div>
    <a class="gradient-title anton-regular" href="/">ROUTEGUESSR</a>
    <div class="container">
        <div class="archivo-regular page-title">LEGENDARY LINES</div>
        <div class="selection-container">
            <div class="area-list">
                <div class="list-item active"></div>
            </div>
            <div class="list-preview">

            </div>
        </div>
    </div>
</body>
</html>