<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROUTE-GUESSR</title>
    <link href="{{ url_for('static', filename='styles/play_style.css')}}" rel="stylesheet"/>
</head>
<body>
<div class="text-box">
  <h2>Welcome to Route Guessr</h2>
  <p>
    Try to guess the route location based on the clues provided.
    Good luck and have fun!
  </p>
</div>


</body>
</html>