body {
    margin: 0;
    min-height: 100vh;
    background: url('../images/432A1345.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo-link {
    text-decoration: none;
    display: block;
}

.logo {
    height: 50px;
    width: auto;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-subtext {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo-link {
    text-decoration: none;
    display: block;
}

.logo {
    height: 50px;
    width: auto;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}