@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Sans+Hegarty&family=Gabarito:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/hcc0rtd.css");
@import "tailwindcss";

@theme {
    --font-anton:'Anton', 'sans-serif';
    --font-bbh:"BBH Sans Hegarty", 'sans-serif';
    --font-bb-bold:"Bebas Neue Bold", 'sans-serif';
    --font-bb-book: "Bebas Neue Book", 'sans-serif';
    --font-pt: "PT Sans", 'sans-serif';
    --font-gabarito: "Gabarito", 'sans-serif';
}