body {
    justify-content: center;
    align-items: flex-start;
    padding-top: clamp(30px, 50px, 100px);
}
.container {
    max-width: 1600px;
    width: 100%;
    color: var(--clr-text-white);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 16px;
    z-index: 10;
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
    background-image: linear-gradient(0deg, var(--clr-primary), var(--clr-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.page-subtitle {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
    color: var(--clr-text-light)
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: var(--brdr);
    box-shadow: var(--box-shadow);
    padding: var(--container-padding);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}