@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

.saira-regular {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;  /* lets the browser adjust the font */
    font-weight: 400;           /* replace <weight> with actual number */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.saira-bold {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Reset body */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212; /* dark background */
    background-image: url("../images/432A1345.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}

.box {
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-top 10px;
    padding: 5px;
    border: 2px solid blue;
}

div {
    display: inline-block;
    width:200px;
    border:1px solid;
    vertical-align:top
}

.text-box {
  max-width: 600px;             /* controls width */
  margin: 40px auto;            /* centers horizontally */
  padding: 20px 30px;           /* inner spacing */
  background: rgba(50, 50, 50, 0.4); /* dark grey, 40% opacity */
  border-radius: 20px;          /* curvy edges */
  color: white;                 /* text stays readable */
  font-size: 1.2rem;
  line-height: 1.6;
}