@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

.saira-regular {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.saira-bold {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    display: block !important;
    flex-direction: column !important;
}

.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo-link {
    text-decoration: none;
    display: block;
}

.logo {
    height: 50px;
    width: auto;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}

.back {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/432A1345.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

.route-info {
    flex: 1;
}

.text-box {
    align: center;
    max-width: 4000px;
    margin: 40px auto;
    padding: 20px 30px;
    background: rgba(50, 50, 50, 0.4);
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    border: 1px solid #8a8888;
}

.content-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 0px;
}

.image-container {
    width: 100%;
    height: 635px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.route-info img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.map-container {
    width: 850px;
    flex-shrink: 0;
    padding: 0;
}

.route-info-box {
    background: rgb(28, 28, 31, 0.7);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
    border: 2px solid #242323;
    margin-bottom: 20px;
    padding: 15px 0;
}

.route-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Saira", sans-serif;
    font-size: 2.5rem;
    padding-left: 20px;
    margin: 0;
    line-height: 1;
}

.route-name a {
    color: white;
    text-decoration: none;
}

.route-name a:hover {
    text-decoration: underline;
    opacity: 0.8;
}


.route-grade {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Saira", sans-serif;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 1;
}

.route-type {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Saira", sans-serif;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}


.map-box {
    background: #1c1c1f;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

#map {
    height: 475px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #242323;
}

.score-box {
    align: center;
    max-width: 4000px;
    min-width: 1200px;
    min-height: 80px;
    margin: 0px auto;
    padding: 0px 30px;
    background: rgba(50, 50, 50, 0.4);
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    border: 1px solid #8a8888;
}

.score-bar-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 15px;
    margin: 15px 0;
    overflow: hidden;
}

.score-bar {
    height: 100%;
    background: linear-gradient(135deg, #0055b3, #0062cc);;
    border-radius: 15px;
    transition: width 0.8s ease-in-out;
    min-width: 0;
}

.score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.distance-text {
    align-content: center;
    color: white;
    margin-top: -10px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}